body{
   background-color: initial;
}

#AdelaS{
   background-color:aqua;
   font-family:initial;
   color:initial;
   
}

#AgataP{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#AndreaE{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#ZuzanaB{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#EliskaD{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}