body{
   background-color: initial;
}

#AdelaS{
   background-color:bisque;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   color:brown;
   
}

#AgataP{
   background-color: salmon;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color:darkblue;
   
}

#AndreaR{
   background-color: rgba(37, 55, 1, 0.694);
   font-family: "Georgia", sans-serif;
   font-size: 15pt;
   color: rgb(114, 58, 20);
   }

#ZuzanaB{
   background-color: chocolate;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color:beige;
   
}

#EliskaD{
   background-color: initial;
   font-family: initial;
   color:initial;
   

}
